/*============================
#header
============================*/
#header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 9999;

  @if($type==sp) {
    width: 100%;
    position: fixed !important;
  } @else {
    align-items: center;
  }

p {
  font-size: if($type==sp, (22em/16), (16em/16));
}
/*============================
#h_logo
============================*/
	#h_logo {
    width:if($type==sp, (147em/16), (169em/16));
    padding: (10em/16) (20em/16);
	}
	.ham-btn {
    @if($type==sp) {
      background-color: $site_blue;
      display: flex;
      align-items: center;

      .tcon-menu--xcross {
        min-width: 56px;
      }
    }
	}
	.h_nav {

    @if($type==sp) {
      display: none;  // とりあえず非表示 todo:スマホ時の表示を定義
    } @else {
      display: flex;
      justify-content: space-between;

      .g_nav{
        display: flex;
        justify-content: space-between;

        li {
          a {
            padding: (26em/14) (14.98em/14);
            font-size: (14em/16);
            font-weight: 600;
            color: #2c2c2c;
            line-height: 1;
            display: block;
            white-space: nowrap;
            @include trans-animate;

            &:hover {
              color: #444;
            }
          }
        }
      }
      .entry_nav {
        display: flex;
        justify-content: space-between;

        li {
          a {
            padding: (26em/14) (24.5em/14);
            font-size: (14em/16);
            font-weight: 600;
            color: #2c2c2c;
            line-height: 1;
            display: block;
            white-space: nowrap;
            @include trans-animate;

            &:hover {
              color: #444;
            }
          }
        }
      }
      .g_nav {

      }
      .entry_nav {
        ul {
          li {
          }
        }
      }
    }
	}
}

/*============================
#main
============================*/
#main {
  overflow: hidden;
  .sec {
    .col_2 {
      @if($type==sp) {

      } @else {
        display: flex;
        justify-content: space-between;

        &-right {
          flex-direction: row-reverse;
        }
        .col {
          &:first-child {
            width: 365px;
          }
        }
      }
    }

		.ttl_dot {
      margin-bottom: (60em/48);
      font-size: if($type==sp, (48em/11/2), (48em/16));
      line-height: (69em/48);
      text-align: center;

      &::after {
        content: '';
        width: (48em/48);
        height: (8em/48);
        margin: (19.2em/48) auto 0;
        background-image: url(../images/common/bg_title.png);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
;      }
    }

		.ttl_en-ja {
      margin-bottom: (45.6em/16);
      color: #000;
      text-align: center;

      span {
        line-height: 1.2;
        display: block;

        &.en {
          font-family: 'Montserrat', sans-serif;
          font-size: if($type==sp, (48em/16), (52em/16));
          font-weight: 800;
        }
        &.ja {
          margin-top: (6.4em/16);
          font-size: if($type==sp, (22em/16), (16em/16));
          font-weight: 600;
        }
      }
		}
		.btn_more {
      margin-top: (60em/16);
      a {
        width: if($type==sp, (555%/$sp_wid*100), 353px);
        @include center;
        padding: (24em/17.6) (24em/17.6) (24em/17.6) (12em/17.6);
        font-size: if($type==sp, (12.13em/16), (16em/16));
        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 1;
        letter-spacing: .08em;
        border: #000 2px solid;
        background-color: #000;
        box-sizing: border-box;
        display: block;
        position: relative;
        @include trans-animate;

        &::after {
          content: '';
          width: (19em/17.6);
          height: (19em/17.6);
          background-image: url(../images/common/bg_btn_more.png);
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          right: (82em/17.6);
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
		}
  }

/*============================
.list_info
============================*/
  .list_info {
    ul {
      margin: (17em/16/2*-1) 0;

      li {
        margin: (17em/16/2) (10em/16/2*-1);
        display: flex;
        justify-content: space-between;

        span {
          margin: 0  (10em/16/2);
          padding: (5em/16) 0;
          line-height: 16px;
        }
        .info_date {
          font-family: 'Montserrat', sans-serif;
          font-size: (16em/18);
        }
        .info_cat {
          padding-left: (13em/16);
          padding-right: (13em/16);
          font-size: (12em/18);
          font-weight: 600;
          color: #fff;

          &.cat {
            &_recruit {
              background-color: $site_blue;
            }
          }
        }
        .info_desc {
          font-size: (13em/18);
          font-weight: 600;
        }
        a {
          text-decoration: underline;

          &:hover {
            color: #555;
          }
        }
      }
    }
  }

/*============================
#sec_entry
============================*/
	#sec_entry {
    margin-top: (116em/16);
    padding: (72em/16) 0 (100em/16);
    background-color: #999;
    background-image: url(../images/common/mainimg_entry.jpg);
    background-position: 50% 50%;
    background-size: cover;

		.cont {
			.btns {
        ul {
          width: if($type==sp, (650%/$sp_wid*100), (969%/$site_wid*100));
          margin: 0 auto;
          display: flex;
          justify-content: center;

          li {
            flex-grow: 1;

            a {
              padding: if($type==sp, (30em/26), (40em/19));
              font-size: if($type==sp, (26em/11/2), (19em/16));
              font-weight: 700;
              text-align: center;
              line-height: 1;
              display: block;
              @include trans-animate;

              &:hover {
                background-color: inherit;
              }
            }
          }
        }
			}
		}
	}
}

/*============================
#footer
============================*/
#footer {
  background-color: #fff;
	.f_cont {
    @if($type==sp) {} @else {
      display: flex;
      justify-content: space-between;
    }

		.f_nav {
      padding-top: if($type==sp, (30em/11/2), 0);
      ul {
        display: flex;
        justify-content: if($type==sp, space-around, space-between);
        flex-wrap: if($type==sp, wrap, inherit);
        margin-left: if($type==sp, 0, (16em/16));

        li {
          padding: if($type==sp, 0, (35em/16) 0 (32em/16));
          line-height: 1;

          a {
            padding: if($type==sp, (20em/15),  (12em/12));
            font-size: if($type==sp, (15em/16), (12em/16));
            font-weight: 600;
            display: block;
            white-space: nowrap;

            &.site_link {
              position: relative;
              padding-right: (26em/12);

              &::after {
                content: '';
                width: (14em/12);
                height: (13em/12);
                margin-left: (6em/16);
                background-image: url(../images/common/ico_blank.png);
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                display: inline-block;
                position: absolute;
                right: (6em/12);
                bottom: (14.4em/12);
              }
            }
          }
        }
      }
		}
		.f_logo {
      padding: (30em/16) (27em/16) (29em/16) (27em/16);
      text-align: if($type==sp, center, inherit);

      img {
        width: if($type==sp, (204px/2), auto);
      }
		}
	}

/*============================
#copy
============================*/
	#copy {
    padding: (26em/16);
    font-size: if($type==sp, (14em/11/2), (10em/16));
    text-align: center;
    background-color: #000;

    small {
      font-size: 1em;
      color: #fff;
    }
	}
}



/*============================
#common class
============================*/

// text-align
.align {
  &_center {
    text-align: center;
  }
  &_right {
    text-align: if($type==sp, center,  right);
  }
}

//color
.color {
  &_blue {
    color: $site_blue !important;
  }
  &_white {
    color: #fff !important;
  }
}

//background-color
.bc_blue {
  background-color: $site_blue;
}
.bc_blue_deep {
  background-color: $site_blue_deep;
}
.bc_blue_alpha {
  @include rgba-background($site_blue, 0.9);
}
.bc_blue_deep_alpha {
  @include rgba-background($site_blue_deep, 0.9);
}
a {
  &.bc_blue,
  &.bc_blue_deep,
  &.bc_blue_alpha,
  &.bc_blue_deep_alpha {
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
  }
  &.bc_blue,
  &.bc_blue_alpha {
    border-color: $site_blue;
  }
  &.bc_blue_deep,
  &.bc_blue_deep_alpha {
    border-color: $site_blue_deep;
  }
}
.info_more{
  margin-top:(72em/16) !important;
  a{
    width: if($type==sp, (655%/$sp_wid*100), 285px);
    @include center;
      padding: (20em/16) (24em/16) (23.2em/16) (27.2em/16);
      margin: if($type==sp, 0 auto, 0);
      font-size: (16em/16);
      font-weight: 600;
      color: #000;
      text-align: center;
      line-height: 1;
      border: #000 3px solid;
      background-color: #fff;
      box-sizing: border-box;
      display: block;
      position: relative;
      @include trans-animate;
      &::after{
      content: '';
      width: (19em/16);
      height: (19em/16);
      background-image: url(../images/common/bg_btn_info.png);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: (20.8em/16);
      top: 50%;
      transform: translateY(-50%);
      }
      &:hover{
        background-color: #eeeeee;
      }
  }
}
.pagenation{
  ul{
    text-align: center;
    letter-spacing:-.4em;
    .prev,.next{
        display:none;
      }
    li{
      font-family: 'Montserrat', sans-serif;
      font-size: if($type==sp, (28.18em/11/2), (23.48em/16));
      display:inline-block;
      vertical-align:top;
      width:if($type==sp, (62em/11/2), (50em/23.48));
      height:if($type==sp, (62em/11/2), (50em/23.48));
      letter-spacing:0;
      line-height:if($type==sp, 2.8, 2.2);
      border: #000 2px solid;
      margin: (36em/23.48) (8em/23.48) (28em/23.48);
      background-color:#000;
      color:#fff;

      a{
        width:100%;
        height:100%;
        line-height:if($type==sp, 3.2, 2.6);
        @include center;
        background-color:#000;
        color:#fff;
        display:block;
        @include trans-animate;
        &:hover{
        background-color: #fff;
        color:#000;

      }
      }
    }
  }
}
.align-left{
  text-align: if($type==sp, center, left);
}
