@charset "UTF-8";

@mixin center {
	margin-right: auto;
	margin-left: auto;
}
@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin rgba-background($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}
@mixin trans-animate {
  transition-duration: .2s;
}
@mixin link_bdr {
  outline:none;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 8px;
    background-color: #300;
    transform: scaleX(0);
    transform-origin: right center;
    -webkit-transition: background-color 150ms ease-out, -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 150ms ease-out, -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 150ms ease-out, transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 150ms ease-out, transform 600ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
    right: 2px;
    left: 2px;
  }
}
@mixin link_hov_bdr {
  &::after {
    background-color: $site_blue_deep;
    transform: scaleX(1);
    transform-origin: left center;
  }
}