.page-template,
body[class*="joblist"] {
/*============================
value
============================*/
#value{
  .pado_txt{
    width: if($type==sp, (552%/$sp_wid*100), (700em/16));
    margin: 0 auto;
    font-size: if($type==sp, (22em/11/2), (16em/16));
    line-height:2.8;
  }
  .cover{
    background: if($type==sp, (url("../images/value/sp_img_value_04.jpg")), url("../images/value/img_value_04.jpg") no-repeat);
    background-position: top center;
    background-size: cover;
    height:if($type==sp, (336em/11/2), (336em/16));
  }
  #sec_02{
    padding-top: (75em/16);
  }
  .vision{
    width: if($type==sp, (650%/$sp_wid*100), (800em/16));
    margin: (116.8em/16) auto (56em/16);
    box-sizing:border-box;
    border: solid 6px #000;
    position: relative;
    text-align: center;
    font-weight:bold;
    padding-top: (32em/16);
    padding-bottom: (36em/16);
    line-height:1;
    &::before{
      content:"VISION";
      font-family: 'Montserrat', sans-serif;
      font-size: if($type==sp, (30em/11/2), (20em/16));
      font-weight:800;
      position: absolute;
      left: (14em/20);
      top: (-42em/20);
    }
    p{
      font-size: if($type==sp, (38em/11/2), (30em/16));
      margin-bottom:0;
    }
    p + p{
      font-size: if($type==sp, (19.2em/11/2), (16em/16));
      letter-spacing:.03em;
    }
    + p{
      width: if($type==sp, (552%/$sp_wid*100), (700em/16));
      font-size: if($type==sp, (22em/11/2), (18em/16));
      text-align:center;
      font-weight:bold;
      margin:0 auto (54.4em/16);
      letter-spacing:.03em;
  }
  }
  #sec_03{
    ul{
      width: if($type==sp, (650%/$sp_wid*100), (1100em/16));
      text-align:center;
      font-weight:bold;
      box-sizing:border-box;
      margin: 0 auto (155em/16);
      padding: if($type==sp,(98em/16) (153%/16) (60.8em/16), (81em/16) (128em/16) (68.8em/16) (136em/16));
      display: -webkit-box;
      display: -ms-flexbox;
      display:flex;
      -webkit-flex-wrap: if($type==sp, (wrap), nowrap);
      flex-wrap: if($type==sp, (wrap), nowrap);
      -webkit-box-pack:center;
      -ms-flex-pack:center;
      justify-content:space-around;
      background:#eeeeee;
      position:relative;
      &::before{
        content:"VALUE";
        font-family: 'Montserrat', sans-serif;
        font-size: if($type==sp, (30em/11/2), (20em/16));
        font-weight:800;
        position: absolute;
        left: if($type==sp, (32em/30), (136em/16));
        top: (16em/16);
      }
      &::after{
        content:" ";
        background:url("../images/value/bg_value_01.png") no-repeat;
        background-position:top center;
        position:absolute;
        top:0;
        left:0;
        right:0;
        margin:0 auto;
        width: (116em/16);
        height:(60em/16);
    }
      li{
        width: if($type==sp, (520%/$sp_wid*100), (227em/16));
        margin-bottom:  if($type==sp, (35em/16), 0);
        figure{
          width:100%;
          margin:0;
          padding: 0;
          figcaption{
            margin-top:(11.2em/16);
            font-size: if($type==sp, (24em/11/2), (16em/16));
            letter-spacing:if($type==sp, -.15em, 0)
          }
        }
      }
    }
  }
}
.underlayer{
  #sec_01{
    margin-top: if($type==sp, (47em/12), 0);
  }
  #sec_01,#sec_02,#sec_03,#sec_04{
    padding:0;
    background:none;
  }
  .ttl_en-ja{
      margin-bottom: (75em/16) !important;
      color: #000;

      span {
        line-height: 1.2;
        display: block;

        &.en {
          font-family: 'Montserrat', sans-serif;
          font-size: if($type==sp, (52em/11/2), (55.94em/16)) !important;
          font-weight: 800;
        }
        &.ja {
          margin-top: (6em/16) !important;
          font-size: if($type==sp, (20em/11/2), (16em/16));
          font-weight: 600;
        }
      }

      &::after {
        content: '';
        width: (48em/16);
        height: (12.8em/16);
        margin: (14.4em/16) auto 0 !important;
        background-image: url(../images/common/bg_title.png);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        }
  }
}
.sp_br{
  display: if($type==sp, none, block);
}
.pc_br{
  display: if($type==sp, block, none);
}
}
