.page-template,
body[class*="joblist"] {
  /*============================
  people
  ============================*/
  #people{
    .cover{
    background: if($type==sp, url("../images/people/sp_img_people_05.jpg") no-repeat,  url("../images/people/img_people_05.jpg") no-repeat);
      background-position: top center;
      background-size: cover;
      height:if($type==sp, (336em/11/2), (336em/16));
    }
    #sec_02{
      padding-top: if($type==sp, (118em/11/2), (75em/16));
    }
    .people_area{
      width: if($type==sp, (710%/$sp_wid*100), (1100em/16));
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display:flex;
      -webkit-flex-wrap: wrap;
      flex-wrap:wrap;
      -webkit-box-pack:center;
      -ms-flex-pack:center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content:space-between;
      align-content:space-between;
      li{
        width: if($type==sp, (352%/$sp_wid*100), (346em/16));
        padding-bottom: (20em/16);
        position:relative;
        margin-top: if($type==sp, (40em/16), (58.2em/16));
        &:first-child,&:nth-child(2){
          margin-top:0;
        }
        &:nth-child(3){
          margin-top: if($type==sp, (40em/16), 0);
        }
        figure{
          width:100%;
          margin:0;
          padding:0;
          figcaption{
            font-size: if($type==sp, (14em/11/2), (15em/16));
            font-weight:500;
            line-height:1.6;
            padding: if($type==sp, (15em/14) (35%/14) 0 (25%/14), (14em/15) (30em/15) (1.5em/15) (27em/15));
          }
          span{
            font-size: if($type==sp, (12em/11/2), (12em/16));
            text-align:center;
            position: absolute;
            top:0;
            right:0;
            color: #fff;
            width: if($type==sp, (156em/12/2), (96em/12));
            padding:(10em/12) 0;
            line-height:1;
            }
        }
        .neme{
          font-size: if($type==sp, (20em/11/2), (26em/16));
          font-weight: bold;
          display:block;
          margin-left: if($type==sp, (27%/20), (27em/26));
        }
        .occupations{
          font-size: if($type==sp, (12em/11/2), (18em/16));
          margin-left: if($type==sp, (15%/12), (27em/18));
        }
      }
    }
  }
  #people_02{
    .cover{
    background: url("../images/people/img_people_04.jpg") no-repeat;
      background-position: top center;
      background-size: cover;
      height:if($type==sp, (512em/11/2), (603em/16));
    }
    .people_area{
        width: if($type==sp, (652%/$sp_wid*100), (1100em/16));
        margin: if($type==sp, (-70em/16) auto (60em/16), (-188.8em/16) auto (24em/16));
        div{
          width: if($type==sp, (750%/$sp_wid*100), (550em/14));
          color:#fff;
          font-size:if($type==sp, (20em/11/2), (14em/16)) !important;
          box-sizing:border-box;
          padding: if($type==sp, (30em/20) (35em/20) (40em/20) (40em/20), (35em/14) (40em/14) (46em/14) (38em/14));
          .name{
            font-size: if($type==sp, (33em/11/2), (24em/14));
            font-weight:600;
          }
        .name_en{
          vertical-align:baseline;
          margin-left:(15.4em/14);
        }

          p + p{
            margin-top:0;
          }
          .occupations{
            margin: (5.6em/14) 0 (7em/14);
          }
        }
      }
      .people_ttl{
        font-size: if($type==sp, (42em/11/2), (42em/16));
        font-weight: 500;
      }
      #sec_03{
      margin-top:(60em/16);
      padding-top:(48em/16);
        p{
          font-size: if($type==sp, (24em/11/2), (15em/16));
          line-height: if($type==sp, (46/24), 2.4);
          padding:0;
          text-align:left;
          margin:if($type==sp, (0 auto 0 !important), 0 auto 0);
        }
        .midashi{
          width: if($type==sp, (652%/$sp_wid*100), (1100em/22));
          font-size:if($type==sp, (28em/11/2), (22em/16));
          font-weight:bold;
          margin: if($type==sp, (0 auto (24em/28)), 0 auto);
          display:block;
          + p{
          margin: if($type==sp, ((40em/16) auto 0), (24em/15) auto (45em/15));
          width: if($type==sp, (652%/$sp_wid*100), (1100em/15));
          display:block;
        }
        }

        .col_2-img_l{
          width: if($type==sp, (652%/$sp_wid*100), (1412em/16));
          margin: if($type==sp, 0 auto (35em/16), 0 auto (71em/16));
          box-sizing:border-box;
          padding-right: if($type==sp, (0),  (146em/16));
          figure{
            margin:if($type==sp, ((40em/16) auto ), 0);
            padding: 0;
            float:if($type==sp, (none), left);
          }
          div{
            float: if($type==sp, (none), right);
            width: if($type==sp, (750%/$sp_wid*100), (582em/15));
          }
          + p{


            display:block;
            padding:0;
        }
        }
        .col_2-img_r{
          width:if($type==sp, (652%/$sp_wid*100), (1412em/16));
          margin:if($type==sp, (0 auto ), 0 auto (65em/16));
          box-sizing:border-box;
          padding-left: if($type==sp, (0), (146em/16));
          figure{
            margin:if($type==sp, ((40em/16) auto), 0);
            padding: 0;
            float:if($type==sp, (none), right);
          }
          div{
            float:if($type==sp, (none), left);
            width: if($type==sp, (750%/$sp_wid*100), (582em/15));
          }
          + p{
            margin:if($type==sp, (0 auto (40em/16)), 0 auto (35em/15));
            width: if($type==sp, (652%/$sp_wid*100), (1100em/15));
            display:block;
            padding:0;
        }
        }

        .komidashi{
          font-size:if($type==sp, (28em/11/2), (20em/16));
          font-weight:bold;
          margin-bottom: if($type==sp, (0), (50em/20));
          margin: if($type==sp, (0 auto (24em/28)), 0 auto);
        }
      }
  }
  ul.tag{
    width: if($type==sp, (710%/$sp_wid*100), (1100em/16));
    margin: (20em/16) auto (75.2em/16);
    letter-spacing: -.4em;
    text-align:center;
    li{
      width:(83em/16);
      display:inline-block;
      text-align:center;
      vertical-align: middle;
      letter-spacing:0;
      margin:0 (4em/16) (11em/16);
      a{
        width:100%;
        text-align:center;
        display:block;
        font-size:if($type==sp, (14.3em/11/2), (13em/16));
        border-radius: 4px;
        line-height: 1;
        padding: (10em/13) 0;
        background:#dcdcdc;
        font-weight:500;
      }
    }
  }
  .keyword{
    font-size:if($type==sp, (15.6em/11/2), (13em/16));
    width: if($type==sp, (652%/$sp_wid*100), (1100em/13));
    font-weight:bold;
    margin: if($type==sp, ((40em/15.6) auto (42em/15.6)), 0 auto (42em/13));
    letter-spacing: -.4em;
    text-align: left;
    box-sizing:border-box;
    position:relative;
    padding-left:(83em/13);
      ul{

        &::before{
        content:"KEYWORD:";
        font-family:'Montserrat', sans-serif;
        letter-spacing:0;
        position:absolute;
        left:0;
        top: if($type==sp, 0, 5p);
      }
     li{
      width:(83em/13);
      display:inline-block;
      text-align:center;
      vertical-align: middle;
      letter-spacing:0;
      margin: if($type==sp, (0 (4em/13) (11em/13)) ,0 (4em/13));
      a{
        width:100%;
        text-align:center;
        display:block;
        font-size:if($type==sp, (15.6em/11/2), (14em/16));
        border-radius: 4px;
        line-height: 1;
        padding: (14em/14) 0;
        background:#dcdcdc;
      }
      }

    }
  }
  .bg_pp_light_blue{
    background:#00acdd;
  }
  .bg_pp_yellow{
    background:#f6ae3a;
  }
  .bg_pp_green{
    background:#a7cf52;
  }
  .bg_pp_pink{
    background:#e8518d;
  }
  .bg_pp_blue{
    background:#2e52d7;
  }
  .bg_gray_02{
    background:#f5f5f5 !important;
  }
  .clearfix {
      zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
      content: "";
      display: table;
  }
  .clearfix:after {
      clear: both;
  }
}
