
/*============================
environment
============================*/
#environment{
  figure{
    margin:0;
    padding:0;
  }
  .cover{
  background: url("../images/environment/img_environment_21.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
    height:if($type==sp, (336em/11/2), (336em/16));
  }
  #sec_02{
    padding-top: if($type==sp, (118em/11/2), (75em/16));
  }
  .cont{
    width: if($type==sp, (650%/$site_sp_wid*100), (1100em/16));
    margin: 0 auto;
    text-align:center;
    p{
      padding: if($type==sp, 0 (50%/16), 0);
      font-size: if($type==sp, (22em/11/2), (16em/16));
      line-height:if($type==sp, (55/22), 2.6);
    }
    .environment_area{
      width: if($type==sp, (750%/$site_sp_wid*100), (900em/16));
      margin: (50em/16) auto (130em/16);
      h3{
        font-size: if($type==sp, (22em/11/2), (16em/16));
        font-weight:bold;
        line-height: 1;
        margin-bottom: (14em/16);
      }
      .environment_left{
        float: if($type==sp, (none), left);
        width: if($type==sp, (750%/$site_sp_wid*100), (650em/16));
        margin-bottom: if($type==sp, (58em/16), 0);
        ul{
          border: solid (2em/20) #000;
          padding: if($type==sp, (23em/16) (28em/16) 0 (22em/16), (23em/16) (30em/16) 0 (25em/16));
          text-align:left;
          li{
            background: url("../images/environment/bg_environment_01.png") no-repeat;
            background-position:left 8px;
            background-size:if($type==sp, 7px, 10px);
            line-height:if($type==sp, (38/22), (25/14));
            padding-left: if($type==sp, (30em/11/2), (20em/14));
            font-size: if($type==sp, (22em/11/2), (16em/16));
            margin-bottom: if($type==sp, (20em/22), (20em/14));
          }
        }
      }
      .environment_right{
        float: if($type==sp, (none), right);
        width:(177em/16);
        margin: if($type==sp, (0 auto), 0);
      }
    }
    .welfare{
      letter-spacing: -.4em;
      margin: if($type==sp, (20em/16) auto (117em/16), (37em/16) auto (155em/16));
      li{
        width: if($type==sp, (320%/$site_sp_wid*100), (198em/16));
        margin-right:(23em/16);
        margin-bottom: if($type==sp, (10em/16), 0);
        display: inline-block;
        vertical-align:top;
        letter-spacing:0;
        &:last-child{
          margin-right:0;
        }
        figcaption{
            display:table;
            font-size:if($type==sp, (21.6em/11/2), (18em/16));
            width: if($type==sp, 100%, (198em/18));
            height: if($type==sp, (90em/21.6), (76em/18));
            span{
              display:table-cell;
              vertical-align:middle;
              font-weight:bold;
            }
          }
    }
  }
  .promotion{
    margin: if($type==sp, (50em/16) auto (115em/16), (62em/16) auto (107.2em/16));
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content:space-between;
    align-content:space-between;
    li{
      font-size: if($type==sp, (20em/11/2), (15em/16));
      letter-spacing:0;
      width: if($type==sp, (350%/$site_sp_wid*100), (321em/15));
      margin-bottom:if($type==sp, (46em/20), (46em/14));


      figcaption{
        margin-top:(15em/15);
      }
    }
  }
  .training{
    margin: if($type==sp, (50em/16) auto (10em/16),  (54em/16) 0 (99.2em/16));
    text-align:left;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content:space-between;
    align-content:space-between;
    li{
      font-size: if($type==sp, (20em/11/2), (15em/16));
      width: if($type==sp, (750%/$site_sp_wid*100), 46.8%);
      margin-bottom: if($type==sp, (49em/20), (49em/15));
      display: -webkit-box;
      display: -ms-flexbox;
      display:flex;
      -webkit-flex-wrap: wrap;
      flex-wrap:wrap;
      -webkit-box-pack:center;
      -ms-flex-pack:center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content:space-between;
      align-content:space-between;
      figure{
        width: if($type==sp, (260%/$site_sp_wid*100), 42%);
      }
      div{
        width: if($type==sp, (455%/$site_sp_wid*100), 54%);
        letter-spacing: if($type==sp, -.1em,-.06em);
        h3{
          font-size: if($type==sp, (22em/11/2), (18em/16)) !important;
          font-weight:bold;
          line-height:2.5;
        }
        p{
          line-height:2.1;
          padding:0;
          font-size: if($type==sp, (20em/11/2), (15em/16)) !important;
        }
      }
    }
  }
  .commendation{
    margin: if($type==sp, (54.4em/16) auto 0, (54.4em/16) auto (150em/16));
    text-align:left;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content:space-between;
    align-content:space-between;
    li{
      font-size: if($type==sp, (20em/11/2), (15em/16));
      width: if($type==sp, (650%/$site_sp_wid*100), (495em/15));
      margin: if($type==sp, 0 auto (120em/20), 0 );
      display: -webkit-box;
      display: -ms-flexbox;
      display:flex;
      -webkit-flex-wrap: wrap;
      flex-wrap:wrap;
      -webkit-box-pack:center;
      -ms-flex-pack:center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content:flex-start;
      align-content:flex-start;
      &:last-child{
        margin-bottom:0;
      }
      figcaption{
        font-size:if($type==sp, (22em/11/2), (18em/16));
        font-weight:bold;
        line-height:1;
        text-align:center;
        margin:if($type==sp, (20em/22) 0, (20em/18) 0);
      }
        p{
          line-height:2.1;
          font-size: if($type==sp, (16em/11/2), (15em/16));
        }
    }
  }
}
}
