
/*============================
recruit
============================*/
#recruit{
  figure{
    margin:0;
    padding:0;
  }
  .cover{
  background: url("../images/recruit/img_recruit_07.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
    height:(336em/16);
  }
  #sec_02{
    padding: (75em/16) 0 (285em/16);
  }
  .recruit_area{
    width: if($type==sp, (750%/$sp_wid*100), (1100em/16));
    margin: 0 auto;
    .recruit_ttl{
      font-size:34px;
      font-weight: bold;
      display: block;
      margin-bottom: (25em/36);
    }
    .recruit_cap{
      font-size:16px;
    }
    .col_right{
      figure{
        float: if($type==sp, (none), right);
        width: if($type==sp, (750%/$sp_wid*100), (591em/16));
      }
      .mynavi{
        float: if($type==sp, (none), left);
        width: if($type==sp, (650%/$sp_wid*100), (509em/16));
        margin: if($type==sp, ((-129em/16) auto (35em/16)), auto);
        ul{
          width: if($type==sp, (750%/$sp_wid*100), (551em/16));
          background:#4ebeee;
          color:#fff;
          line-height:1;
          position: if($type==sp, (static), relative);
          top:(57em/16);
          left: 0;
          text-align: if($type==sp, (center), left);
          li{
            position:relative;
            padding: (85em/16) (55em/16) (60em/16);
            p{
              font-size:15px;
              width:(118em/15);
              position:absolute;
              top:0;
              left:0;
              background: #fff;
              color: #4ebeee;
              line-height:1;
              padding:(12em/15) 0;
              text-align: center;
              font-family: 'Montserrat', sans-serif;
              font-weight:bold;
              span{
                font-size:21px;
                margin-left: (5em/21);
              }
            }
          }
        }
        + figure{
        float:none;
        width:(136em/16);
        margin: if($type==sp, (0 auto  (68em/16)), (532em/16) auto (68em/16));
      }
      }
      p{
      font-size: 14px;
      line-height:2.6;
      box-sizing:border-box;
      padding:(90em/14) (20em/14) 0 (55em/14);
    }
    }
    .col_left{
      figure{
        float: if($type==sp, (none), left);
        width: if($type==sp, (750%/$sp_wid*100), (591em/16));
      }
      .mynavi{
        float: if($type==sp, (none), right);
        width:(509em/16);
        ul{
          width:(551em/16);
          background:#4ebeee;
          color:#fff;
          line-height:1;
          position:relative;
          top:(42em/16);
          left: (-43em/16);
          li{
            position:relative;
            padding: (85em/16) (55em/16) (60em/16);
            p{
              font-size:15px;
              width:(118em/15);
              position:absolute;
              top:0;
              left:0;
              background: #fff;
              color: #4ebeee;
              line-height:1;
              padding:(12em/15) 0;
              text-align: center;
              font-family: 'Montserrat', sans-serif;
              font-weight:bold;
              span{
                font-size:21px;
                margin-left: (5em/21);
              }
            }
          }
        }
        + figure{
        float:none;
        width:(136em/16);
        margin: if($type==sp, (0 auto  (68em/16)), (532em/16) auto (68em/16));
      }
      }
      p{
      font-size: 14px;
      line-height:2.6;
      box-sizing:border-box;
      padding:(90em/14) (55em/14) 0 (20em/14) ;
    }
    + p{
        text-align:right;
        font-size:12px;
        margin-top: (25em/12);
      }
    }

  }
}
