ul.tag{
  width: if($type==sp, (710%/$site_sp_wid*100), (1100em/16));
  margin: (20em/16) auto (75.2em/16);
  letter-spacing: -.4em;
  text-align:center;
  li{
    width:(83em/16);
    display:inline-block;
    text-align:center;
    vertical-align: middle;
    letter-spacing:0;
    margin:0 (4em/16) (11em/16);
    a{
      width:100%;
      text-align:center;
      display:block;
      font-size:if($type==sp, (14.3em/11/2), (13em/16));
      border-radius: 4px;
      line-height: 1;
      padding: (10em/13) 0;
      background:#dcdcdc;
      font-weight:500;
    }
  }
}
.keyword{
  width: if($type==sp, (652%/$site_sp_wid*100), (1100em/13));
  font-weight:bold;
  margin: if($type==sp, ((40em/15.6) auto (42em/15.6)), 0 auto (42em/13));
  letter-spacing: -.4em;
  text-align: left;
  box-sizing:border-box;
  position:relative;
  padding-left:(83em/13) !important;

  ul{

    &::before{
      content:"KEYWORD:";
      font-family:'Montserrat', sans-serif;
      letter-spacing:0;
      position:absolute;
      left:0;
      top:5px;
    }
    li{
      width:(83em/13);
      display:inline-block;
      text-align:center;
      vertical-align: middle;
      letter-spacing:0;
      margin: if($type==sp, (0 (4em/13) (11em/13)) ,0 (4em/13));

      a{
        width:100%;
        text-align:center;
        display:block;
        font-size:if($type==sp, (15.6em/11/2), (14em/16));
        border-radius: 4px;
        line-height: 1;
        padding: (14em/14) 0;
        background:#dcdcdc;
      }
    }

  }
}
.bg_pp_light_blue{
  background:#00acdd;
}
.bg_pp_yellow{
  background:#f6ae3a;
}
.bg_pp_green{
  background:#a7cf52;
}
.bg_pp_pink{
  background:#e8518d;
}
.bg_pp_blue{
  background:#2e52d7;
}
.bg_gray_02{
  background:#f5f5f5 !important;
}

.wp_rp_content {
  ul.related_post li {
    width: 395px !important;
    img {
      border-radius: 0 !important;
      box-shadow: none !important;
    }
  }
}

