.single-people {
  #main {
    .cover {
      content: '';
      display: block;
      background: url("../images/people/img_people_04.jpg") no-repeat;
      background-position: top center;
      background-size: cover;
      height:if($type==sp, (512em/11/2), (603em/16));
    }
    .people_area{
      width: if($type==sp, (652%/$site_sp_wid*100), (1100em/16));
      margin: if($type==sp, (-70em/16) auto (60em/16), (-188.8em/16) auto (24em/16));
      
      div{
        width: if($type==sp, (750%/$site_sp_wid*100), (550em/14));
        color:#fff;
        font-size:if($type==sp, (20em/11/2), (14em/16)) !important;
        box-sizing:border-box;
        padding: if($type==sp, (30em/20) (35em/20) (40em/20) (40em/20), (35em/14) (40em/14) (46em/14) (38em/14));
        .name{
          font-size: if($type==sp, (33em/11/2), (24em/14));
          font-weight:600;
        }
        .name_en{
          vertical-align:baseline;
          margin-left:(15.4em/14);
        }

        p + p{
          margin-top:0;
        }
        .occupations{
          margin: (5.6em/14) 0 (7em/14);
        }
      }
    }
    .people_ttl{
      width: if($type==sp, 100%, 820px);
      font-size: if($type==sp, (42em/11/2), (42em/16));
      font-weight: 500;
    }
    #sec_03{
      margin-top:(60em/16);
      padding-top:(48em/16);
      
      .wp_cont {
        @include wp_cont_peope_mixin;
      }
      .tag {
        margin-bottom: 0;
      }
    }
    #sec_04{
      padding-top: (87em/16);
      background-color: $site_blue;
    }
    .widget_sns {
      .sfsi_widget {
        display: flex;
        
        .norm_row {
          margin: 0 auto;
          position: relative !important;
        }
      }
    }
  }
}
