
/*============================
info
============================*/
.single-post {
  #main {
    &::before {
      content: '';
      display: block;
      height:if($type==sp, (336em/11/2), (336em/16));
      background:if($type==sp,  url("../images/information/sp_img_info_01.jpg") no-repeat, url("../images/information/img_info_01.jpg") no-repeat);
      background-position: top center;
      background-size: cover;
      margin-top: if($type==sp, (47em/12), 0);
    }
    #sec_01{
      padding-top: if($type==sp, (118em/11/2), (75em/16));
      margin-top:0;
    }
    .cont{
      .article_info {
        .info {
          &_date {
            margin-right: (20em/16);
            font-size: (16em/16);
            display: inline-block;
          }
          &_cat {
            margin-top: 0;
            font-size: (12em/16);
            display: inline-block;
          }
          &_desc {
            margin-top: (22em/22);
            font-size: (22em/16);
            font-weight: 500;
          }
        }
      }
      .article_mv {
        margin-top: (28em/16);
        text-align: center;
      }
      .wp_cont {
        margin-top: (38em/16);
        @include wp_cont_mixin;
      }
      .article_btm {
        margin-top: if($type==sp, (82em/11/2), (78em/16));

        @if($type==sp) {} @else {
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
        }
        .info_more {
          margin-top: if($type==sp, (88em/11/2) !important, 0 !important);
        }
      }
    }
  }
}
