@charset "UTF-8";
@import 'vars';
@import 'mixin';
@import 'mixin_wpcont';
@import "animate";
@import 'default';
@import 'wp-theme';
@import "transformicons";
@import "jquery.slick";
@import "jquery.slick-theme";
@import "jquery.ripple";

$type: sp pc;
@media only screen and (max-width:$bp_sp) {
	$type: sp;
	@import '_common';
	@import '_top';
	@import '_page_value';
	@import '_page_joblist';
	@import '_page_people';
	@import '_page_recruit';
	@import '_page_business';
	@import '_page_environment';
	@import '_archive';
	@import '_single';
	@import '_page_info';
	@import '_page_sitemap';
	@import '_page_entry';
	@import '_404';
}

@media print, screen and (min-width:($bp_sp+1)) {
	$type: pc;
	@import '_common';
  @import '_top';
  @import '_page_value';
  @import '_page_joblist';
  @import '_page_people';
  @import '_page_recruit';
  @import '_page_business';
	@import '_page_environment';
	@import '_archive';
	@import '_single';
	@import '_page_info';
	@import '_page_sitemap';
	@import '_page_entry';
	@import '_404';
}
